#app {
    height: 700px;
    /*width: 100vw;*/
    font-family: Tahoma, serif;
    font-style: normal;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.button-yellow {
    background: #E5BD79;
    border: 0.5px solid #E5BD79;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px rgba(196, 196, 196, 0.25), inset 0px 6px 20px rgba(196, 196, 196, 0.25);
    border-radius: 10px 0px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

.header{
    height: 75px;
    background-color: #720F13;
    margin:0px;
}
.text-left{
    position: relative;
    top: 50px;
    left: 50px;
}
.logo {
    position: absolute;
    left: 7vw;
    top:13px;
}

body{
    margin: 0px;
}

.container{
    font-family: Tahoma, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    overflow-x: auto;
    text-align: center;
    margin: 0px 7vw;
    display: block;

}

.conclusion{
   /* width: 86vw;
    margin: 10px 7vw 10px 7vw;*/
    /*text-align: left;*/
}

.call_container{
    text-align: center;
    margin: 0px 7vw;
    display: block;
}

#rem{
    display: none;
}


.proBlockText{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #4D4D4D;
    margin-top: 26px;
    padding-left: 10px;

}

.text-cons-title{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* black 30% */

    color: #4D4D4D;
}
.text-cons{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #4D4D4D;
}
.q_position{
    text-align: center;
}
.item{
    /*
    background-color: #720F13;

    box-sizing: border-box;
    box-shadow: 2px 2px 16px #C4C4C4;
*/
    line-height: 60px;
    display: flex;
    border: 1px solid #720F13;
    border-radius: 10px 0px;
    margin: 10px 0px;
    padding: 5px;
    text-align: left;

}
.item-el{
    margin: 15px 0 15px 0;
    background-color: #720F13;
    border: 1px solid #720F13;
    box-sizing: border-box;
    box-shadow: 2px 2px 16px #C4C4C4;
    border-radius: 10px 0px;
    min-height: 62px;
    /* margin: 7px 5% 7px 5%; */
    line-height: 60px;

}

.item-el:hover{
    background-color: #FFFFFF ;
    color: #720F13;
}

.them-text{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-left: 7vw;
    color: #000000;
}
.button{
    background: #FFFFFF;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px rgba(196, 196, 196, 0.25), inset 0px 6px 20px rgba(196, 196, 196, 0.25);
    border-radius: 10px 0px;
}

.button-text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cons{
    margin-left: auto;
    line-height: 50px;
    text-align: center;
    width: 200px;
    height: 50px;
    background: #720F13;
    border: 1px solid #720F13;
    box-sizing: border-box;
    border-radius: 10px 0px;

}


.menu{
    height: 50px;
    width: 200px;
    position: absolute;
    top: 10px;
    right: 7vw;
    /*right: 80px;*/
    line-height: 50px;
    text-align: center;
}

.menu2{
    height: 50px;
    width: 200px;
    position: absolute;
    top: 10px;
    right: 320px;
    line-height: 50px;
    text-align: center;
}


.loging-window{
    text-align: center;
    margin: 2vw;
}

.login{
    margin: 10px;
    width: 100px;
    height: 30px;
}

#myVideo{
    /*width: 30vw;
    height: auto;*/
    height: 17vh;
    width: auto;
}
#remVideo{
    /*width: 60vw;*/
    max-width: 500px;
}

video {
    border-radius: 15px 0;
    margin: 15px
}

.text-conclusion{
    height: 300px;
    resize: none;
    border: 1px solid #720F13;
    border-radius: 10px 0px;
    padding: 8px;
    white-space: pre-line;
    width: -webkit-fill-available;
}

.pictureList{
    display: flex;
    height: auto;
    min-height: 80px;
    margin: 5px;
    border: 1px solid #720F13;
    border-radius: 10px 0px;
}

.picture_item{
    width: 100px;
    margin: 5px;
}
.picture_item img{
    width: 100px;
    margin: 10px
}